*,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 0;
}

body {
  background-color: #eaeaea;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 175px;
  height: 51px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 39px;
}

.navigation__items {
  display: flex;
}

.navigation__items > li:not(:first-child)::before {
  content: '';
  border-left: 2px solid #494949;
  margin: 0 10px;
}

.navigation__link {
  color: #494949;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
}

.navigation__link:hover {
  color: #ee252d;
  transition: 0.2s;
}

.banner {
  background: url(../img/banner.png) no-repeat center center;
  background-size: cover;
  padding-top: 49px;
  padding-bottom: 139px;
  margin-bottom: 123px;
}

.banner__content{
  display: flex;
  align-items: center;
}

.banner__text {
  color: #fff;
}

.banner__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 26px;
}

.banner__description {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 0 43px 0;
}

.banner__image {
  width: 100%;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  padding: 18px 32px;
}

.center {
  text-align: center;
}

.block__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #282828;
  position: relative;
  display: inline-block;
  margin: 0 0 21px 0;
  padding: 0 127px;
  text-transform: uppercase;
}

.block__title::before, .block__title::after {
  content: '';
  position: absolute;
  display: block;
  background: url(../img/shape.png);
  width: 102px;
  height: 28px;
  top: calc(50% - 14px);
}

.block__title::before {
  left: 0;
}

.block__title::after {
  right: 0;
}

.block__subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #959595;
  line-height: 30px;
  margin: 0 0 42px 0;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 64px;
}

.menu__items:not(:first-child)::before {
  content: '';
  border-left: 2px solid #494949;
  margin: 0 20px;
}

.menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #494848;
  text-transform: uppercase;
  padding-bottom: 17px;
}

.active {
  border-bottom: 4px solid #ee252d;
  position: relative;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #ee252d;
}

.box {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
  display: flex;
  color: #282828;
  padding: 0;
  margin-bottom: 106px;
}

.box__item {
  box-sizing: content-box;
	padding: 80px 0 59px 55px;
}

.number {
  font-weight: 900;
  font-size: 120px;
  position: relative;
  margin: 0 0 25px 0;
}

.number::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
}

.number__one::after {
  background: url(../img/icon01.png);
  width: 126px;
  height: 71px;
  top: calc(50% - 35px);
	left: 67px;
}

.number__two::after {
  background: url(../img/icon02.png);
  width: 184px;
  height: 81px;
  top: calc(50% - 40px);
  left: 86px;
}

.number__three::after {
  background: url(../img/icon03.png);
  width: 142px;
  height: 68px;
  top: calc(50% - 34px);
  left: 96px;
}

.item__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin: 0 0 23px 0;
  padding: 0;
  text-transform: uppercase;
}

.item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.box__text {
  padding-right: 55px;
}

.box__item:not(:last-child) .box__text{
  border-right: 2px solid #eaeaea;
}

.block__btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  background: url(../img/btn.png) no-repeat center center;
  background-size: contain;
  padding: 36px 57px;
  margin-bottom: 130px;
}

.footer__content {
  background: url(../img/footer.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 46px 0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 130px;
}